
@{
}


<body>
    <h1 style="text-align:center">Welcome To Tic-Tac-Toe</h1>
    <div class="flex-container">
        <div>
           <img src="~/TTTImages/TicTacToeBoard.png" alt="tttBoard" width="500" height="500" usemap="#tttboard">
            <map name="tttboard">
                <area shape="rect" coords="0, 0, 170, 170" value="topLeft" style="cursor: pointer" />
                <area shape="rect" coords="175, 0, 330, 170" value="topCenter" style="cursor: pointer" />
                <area shape="rect" coords="335, 0, 500, 170" value="topRight" style="cursor: pointer" />

                <area shape="rect" coords="0, 175, 170, 330" value="middleLeft" style="cursor: pointer" />
                <area shape="rect" coords="175, 175, 330, 330" value="MiddelCenter" style="cursor: pointer" />
                <area shape="rect" coords="335, 175, 500, 330" value="MiddleRight" style="cursor: pointer" />

                <area shape="rect" coords="0, 330, 170, 330" value="middleLeft" style="cursor: pointer" />
                <area shape="rect" coords="175, 175, 330, 330" value="MiddelCenter" style="cursor: pointer" />
                <area shape="rect" coords="335, 175, 500, 330" value="MiddleRight" style="cursor: pointer" />
            </map>
        </div>
    </div>
</body>